*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'poppins', sans-serif;
}

:root{
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #0ef;
    --another-bg-color: #00b6dd;
    --cool-bg-color: #b1daff;
    --green-oasis: 	#1f4814;
    --new-color: #eccaca;
    --new-bg-color:  #5fc2e1;
}

html{
    font-size: 90%;
    overflow-x: hidden;
}

section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--new-bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    height: 70px;
}

.header.sticky{
    border-bottom: 1rem solid rgba(0, 0, 0, .2);
}

.logo{
    font-size: 2rem;
    color: var(--green-oasis);
    font-weight: 600;
    cursor: grab;
}

.navbar a{
    font-size: 1.2rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: .3s;
    /* animation: slideTop .5 ease forwards;
    animation-delay: calc(.2s * var(--i)); */
}
.navbar a:hover,
.navbar a.active{
color: var(--main-color);
}

#menu-icon{
    font-size: 2.5rem;
    margin-left: 170px;
    display: none;
    color: var(--green-oasis);
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/images/contact-me.jpg);
    background-position: middle;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-img{
    border: none;
    rotate: 20deg;
    margin-left: 150px;
}
.home-img img{
    border-radius: 100%;
    animation: floatImage 4s ease-in-out infinite;
}

@keyframes floatImage{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-2.4rem);
    }
    100%{
        transform: translateY(0);
    }
}
.home-content h3{
    font-size: 2rem;
    font-weight: 700;
}

.home-content h3:nth-of-type(2){
    margin-bottom: 1.5rem;
}

span{
    color: var(--main-color);
}

.home-content h1{
    font-size: 3rem;
    font-weight: 800;
    line-height: 1.3;
}

.home-content p{
    font-size: 18px;
}

.social-media a{
    display: inline-flex;
    height: 2rem;
    width: 2rem;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: 2px solid var(--main-color);
    border-radius: 100%;
    font-size: 1.2rem;
    color: var(--main-color);
    margin: 2rem 1 2rem 0;
    margin-top: 20px;
    transition: .5s ease;
}

.social-media a:hover{
    background: var(--cool-bg-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 0.8rem var(--cool-bg-color);
}

/* .btn{
    display: inline-block;
    padding: 1rem 2rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 15px;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-family: sans-serif;
    font-weight: 600;
    transition: .5s ease;
    margin-top: 20px;
}
.btn:hover{
    box-shadow: none;
} */

.about{
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--second-bg-color);
}
.about-img img{
    border-radius: 90%;
}

.heading{
    text-align: center;
    font-size: 4rem;
    color: var(--text-color);
}
.about-content h2{
    text-align: left;
    line-height: 1.2;
    color: var(--text-color);
}
.about-content h3{
    font-size: 2.6rem;
    color: var(--text-color);
}
.about-content p{
    font-size: 1rem;
    margin: 2rem 0;
    color: var(--text-color);
}

.services{
    background-image: url(/images/globe-2491989_1280.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 750px;
}

.services-container{
    justify-content: center;
    align-items: center;
    display: flex;
}

.services-box{
    height: 350px;
    width: 300px;
    text-align: center;
    margin-top: 10px;
    padding: 40px;
    margin-left: 50px;
    box-shadow: #00000040 0px 0px 10px 10px;
    transition: .5s ease;
}

.services h2{
    margin-bottom: 3rem;
    color: var(--bg-color);
    
}

.services-container .services-box:hover{
    border-color: #49afdf;
    transform: scale(1.30);
    color: var(--green-oasis);
}

.services-box i{
    font-size: 2rem;
    color: #49afdf;
}

.services-box h3{
    font-size: 2.2rem;
}

.services-box p{
    font-size: 1.5rem;
}
#svb{
    color: var(--text-color);
}
#svb i{
    color: var(--bg-color);
}

#btn{
    display: inline-block;
    padding: 1rem 2rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 15px;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-family: sans-serif;
    font-weight: 600;
    transition: .5s ease;
    margin-top: 30px;
}
#btn:hover{
    box-shadow: none;
}

.portfolio{
    background: var(--second-bg-color);
}
.portfolio h2{
    margin-bottom: 4rem;
}
.portfolio-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}
.portfolio-container .portfolio-box{
    position: relative;
    border-radius: 10px;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}
.portfolio-box img{
    width: 100%;
    transition: .5s ease-in;
}
.portfolio-box:hover img{
   transform: scale(1.1);
}
.portfolio-box .portfolio-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(0, 0 , 0, .1), var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translateY(100%);
    transition: .5s ease-out;
}
.portfolio-box:hover .portfolio-layer{
    transform: translateY(0);
}
.portfolio-layer h4{
    font-size: 3rem;
    color: var(--text-color);
}
.portfolio-layer p{
    font-size: 1.2rem;
    text-align: center;
    color: var(--text-color);
    margin: .3rem 0 1rem;
}
.portfolio-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2.6rem;
    height: 2.6rem;
    background: var(--text-color);
    border-radius: 50%;
}
.portfolio-layer a i{
    font-size: 1.2rem;
    color: var(--second-bg-color);
}

.contact{
    background-image: url(/images/contactme.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
}

.class{
    color: white;
    text-align: center;
}

.class a{
    color: var(--main-color);
    font-size: 1.5rem;
}
.class h2{
    font-size: 1.5rem;
}
.contact form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}
.contact form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact form .input-box input,
.contact form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.2rem;
    color: var(--text-color);
    /* background-image: url(/images/contact-us.jpg);
    background-size: cover; */
    border-radius: .8rem;
    margin: .7rem 0;
    background: #082138;
}
.contact form .input-box input{
    width: 49.3%;
}
.contact form .btn{
    display: inline-block;
    padding: 1rem 2rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 15px;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-family: sans-serif;
    font-weight: 600;
    transition: .5s;
    margin-top: 2rem;
    cursor: pointer;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1.6rem 5%;
    background: var(--second-bg-color);
}
.footer-text p{
    font-size: 15px;
    color: var(--text-color);
}
.footer-text i{
    font-size: 15px;
    color: var(--text-color);
}
.iconTop a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    background: var(--main-color);
    border-radius: 10px;
    transition: .5s ease;
}
.iconTop a:hover{
    box-shadow: 0 0 1rem var(--new-color);
}
.iconTop a i{
    font-size: 12px;
    color: var(--second-bg-color);
}

@media (max-width: 1200px){
    html{
        font-size: 55%;
    }
}

@media (max-width: 991px){
    .header{
        padding: 2rem 3%;
    }
    section{
        padding: 10rem 3% 2rem;
    }
    .services{
        padding: 6rem;
    }
    .portfolio{
        padding-bottom: 6rem;
    }
    .contact{
        min-height: auto;
    }
    .footer{
        padding: 2rem 3%;
    }
}

/* BREAKPOINTS */

@media (max-width: 768px) {
   #menu-icon{
    display: block;
   }

   .navbar{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 3%;
    background: var(--bg-color);
    border-top: .1rem solid rgba(0, 0, 0, .2);
    box-shadow: rgba(0, 0, 0, .2);
    display: none;
   }

   .navbar.active{
    display: block;
   }

   .navbar a{
    display: block;
    font-size: 1.5rem;
    margin: 2rem 0;
   }

   .home{
    flex-direction: column;
   }

   .home-content h3{
    font-size: 2rem;
   }

   .home-content h1{
    font-size: 3.5rem;
   }

   .home-img img{
    width: 70vw;
    margin-top: 3rem;
   }

   .about{
    flex-direction: column-reverse;
   }

   .about img{
    width: 70vw;
    margin-top: 3.5rem;
   }

   .services h2{
    margin-bottom: 3rem;
   }

   .portfolio h2{
    margin-bottom: 3rem;
   }

   .portfolio-container{
    grid-template-columns: (2, 1fr);
   }
}

@media(max-width: 617px) {
    .portfolio-container{
        grid-template-columns: 1fr;
    }
   }

   @media (max-width: 450px) {
    html{
        font-size: 50%;
    }

    .contact form .input-box input{
        width: 100%;
    }
   }

   @media (max-width: 365px){
    .home-img img{
        width: 90vw;
    }
    .about-img img {
        width: 90vw;
    }

    .footer{
        flex-direction: column-reverse;
    }

    .footer p{
        text-align: center;
        margin-top: 2rem;
    }
   }

   /* @keyframes slideTop{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
   } */
   